@()

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/menu.css")">

@main("Super Battle Cards") {
  <form id="playerForm">
    <label for="name">Player Name:</label>
    <input id="name" name="name" type="text">
    <button type="submit" disabled="true">Confirm</button>
  </form>

  <form id="gameOptions" hidden>
    <h1 id="name"></h1>
    <button id="continue">Continue Game</button>
    <button id="new">New Game</button>
    <button id="replay">Watch Replay</button>
  </form>
}

<script src="@routes.Assets.versioned("javascripts/menu.js")" type="text/javascript"></script>
